{% extends "base.html.j2" %}
{% block title %}Posts{% endblock %}
{% block content %}
<br/>
    <div id='posts'>
        {% for post in posts %}
            <div class='card'>
                <div class="card-header d-flex justify-content-between align-items-center">
                    <a href="">{{post.user.username}}</a>
                    <div>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                <li><a class="dropdown-item" href="#">Comment</a></li>
                                {% if user.id == post.author %}
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="/delete-post/{{post.id}}">Delete Post</a></li>                               
                                {% endif %}
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="card-body">
                    <div class="card-text"><p class="card-text">{{post.text}}</p></div>
                        <p>
                            <a data-bs-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                View x Comments
                            </a>
                            </p>
                            <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                COMMENTS GOES HERE
                            </div>
                        </div>
                </div>
                    <div class="card-footer text-muted align-items-right">
                        Created in: {{post.date_created}}
                    </div>
            </div>
            <br/>
        {% endfor %}
    </div>
    <br/>
<div align='center'>
    <a href="/create-post"><button type="button" class="btn btn-primary btn-lg">Create a Post</button></a>
</div>
<br/>
{% endblock content %}
